.container-fluid.main-footer.text-center
  hr
  ul.inline
    li &copy; Mark J. Headd 2014
    li 
    | Free to use under a 
    a(href='http://creativecommons.org/licenses/by-sa/4.0/') Creative Commons License
    |  .