h1 Conducting an internal data review

figure
	blockquote 
	| Measure twice, cut once.
	figcaption -- Good carpenters everywhere

p One of the most important kinds of outreach you can undertake when releasing open data is inside your own department. Most importantly, make sure your department or agency head (or their designate) is aware of the planned data release.

p Some questions to ask yourself:

ul#list
	li Has your planned data release been communicated to others in your department that may be impacted by it, or that can provide valuable insights into the structure of your data before it is released?
	li Has your department’s legal office or representatives reviewed the data you plan to release? 
	li Are there any restrictions on how the data may be used (i.e., restrictions can apply to some kinds of financial, health care, education, and other types of data - sometimes these restrictions are imposed by other levels of government.)?
	li Does the data you plan to release contain personally identifying information? Has you department’s legal office or representatives approved the release of such information? Will removing such information diminish the value of your data for consumers? 

p Having an internal dialog with others in your department about open data that is planned for release is a necessary precursor to external communication with outside data consumers (more below). This dialog will also inform the terms of use that accompany your data release.

p It’s also a good idea to identify people in your department through these discussions that are knowledgeable about the data you may want to release. You’ll want to identify both administrative contacts (i.e., how often is the data updated, where can it be downloaded, etc.) and technical contacts (i.e., what does this field in your data set mean?) for your data, in the event that you will not fill these roles.
