:markdown
	## Adding Metadata
	
	> "Metadata is a love note to the future."
	>
	> -- Jason Scott, Creator, Owner & Maintainer of [textfiles.com](http://textfiles.com)

	If you don’t tell recipients of your data what it is, how it can be used, or anything about its currentness, how can we expect them to use it effectively?  

	Metadata, or descriptive information about data, is common among geospatial data (i.e., GIS layers) and other data sets due to their complexity. Typically included in geospatial metadata is the following content: a descriptive summary file and its primary uses; methods of creation; changes (if the file is routinely updated); contact information; geographic references, and most critically - dates indicating for when the data was captured and/or prepared.  

	The basic tenants of metadata (what the data is, how to interpret the data for use, how the data was prepared) qualify for inclusion within all digital databases be they geographic or otherwise.  How metadata is included in a data release may vary from format to format. It can be as simple as an accompanying file (e.g., readme.txt or data dictionary PDF), or an additional table in the database or tab in an Excel spreadsheet with multiple text or note fields of descriptive and contact information. Basic content should include:

	* Data description and common useage;
	* Date created or date range of content;
	* Author and contact information;
	* Descriptions of key fields and/or field codes, and;
	* Limitations, disclaimer (if appropriate) and terms of use.

	An example of the metadata content used by the State of New York can be found in the New York State Open Data Initiative's [Open Data Handbook](http://nys-its.github.io/open-data-handbook/metadata.html). 
