:markdown
	## Why Release Open Data?

	One of the first questions public officials often ask when learning about open data is "Why should my agency or department release open data?" There are a number of reasons, both practical and philosophical, why releasing open data can benefit your department and the people it serves.

	Releasing data that has been collected and/or maintained through the operation of government enhances transparency, and can help citizens become better informed about the operation of their government and more engaged with their elected representatives.

	Releasing open data has many practical benefits for government departments. Open data releases can be an effective way of responding to requests for data through FOIA and similar requirements. One open data release may address multiple requests for information than can be repetitive and costly to respond to if addressed on an individual basis. 

	Publishing open data can also help reduce unwanted web traffic on government websites, which is often the result of “data scraping” by parties seeking to [obtain](https://scraperwiki.com/) data in bulk from their government. This puts unnecessary stress on government technology infrastructure and unneeded burden on government IT staff.

	By releasing open data, governments may help to stimulate new and innovative ideas from the technology community. There is great potential for open data to act as the fuel for [new solutions](http://www.codeforamerica.org/apps/) and even new businesses that can address common problems or challenges facing governments and those they serve.

	Research conducted by the Harvard Business School suggests that governments that make more data available on the operation of government may actually work to enhance citizen perceptions of government service. Specifically, a [study conducted in late 2013](http://www.hbs.edu/faculty/Publication%20Files/14-034_3dcc83ea-aa8d-463d-bd66-d0ff8c267506.pdf) found that "increasing the operational transparency of government services - showing citizens the work in which government is engaging on their behalf - engenders positive attitudes toward government and greater support for maintaining or expanding the scale of government programs." 

	Finally, releasing open data has the potential to generate a host of operational efficiencies for government. Bureaucratic barriers often prevent the free flow of information inside government, so it is often the case that what should be easy isn’t. 

	For example - Is it possible to condition the denial of a permit from government agency on whether a person has an outstanding tax liability, an outstanding parking ticket, a violation against a property they own, or an outstanding utility bill? Doing so requires querying data sets that fall under the purview of an array of different departments and agencies across the government footprint. It also requires the development of systems that integrate all this data and allow it to be used as part of a well defined process.

	Open data programs can help make this kind of integration possible. Open data make data discoverable – it obviates the need for special relationships or political clout to obtain data. Anyone and everyone can see what data is available for use, so few resources are spent hunting around for data and connecting with data owners.
