:markdown
	## Engaging users in the data community

	> "People don’t like a story where they know what happens (or is supposed to happen) at the end nearly as much as they like a story with potential and possibility. You can tell people how it’s going to go, or you can learn to let them co-author the story with you."
	> 
	> -- [Alex Hillman](http://dangerouslyawesome.com/2012/09/5-reasons-your-community-isnt-growing/), Co-Founder of Indy Hall

	Publishing an open data set for outside consumers isn’t the end of the process - it’s just the beginning Philadelphia has a broad and vibrant community of different users interested in working with city government data. The members of this community, and all of the smaller communities, cliques and collectives that it is made up of, are the city’s most important asset for turning data into value. Reaching out to and actively engaging with this community is a process that will take place long after your data is initially released.

	Once your data is listed on OpenDataPhilly.org, you should tell the world about it. Start by announcing your new data set in the Open Data Philly forum - this is a group comprised of people from in and around Philadelphia area that are interested in open data. Send out a press release, tweet about it, write a post about for your agency’s Facebook page or blog. You’ll be surprised how fast word will get out to people that care about your data if you take the time to advertise through common social media channels.

	There are [hackathons](http://technical.ly/philly/events/hackathons/) and [civic tech meetups](http://codeforphilly.com) happening in Philadelphia on an almost weekly basis - these events are ideal for announcing the release of new data and for engaging with data consumers.  Sharing the data and giving it context can help developers utilize it for informative and useful applications like the 311 Mobile App and Philly Crime Map.  The data may also be helpful when integrated with other city agencies’ decision making systems to support more efficient operations.

	Once you’ve made your data discoverable on OpenDataPhilly.org, and have let people know it is available, you’ll probably start to get feedback from users. They may have questions about certain components of your data (i.e., how a specific field is labeled, or how recently data was collected).  Wherever possible, try and capture the questions are responses from data users in a way that can be shared with other users

	Ideally, you should direct users to submit questions or comments to the [Open Data Philly forum](https://groups.google.com/forum/?fromgroups#!forum/opendataphilly). This will allow others to see and learn from the dialog your agency has with it’s data users, and also save time if the same questions are asked multiple times.
