.content
  .hero-unit
    h1 #{ name }
    p A guidebook for state & local government officials who want to get started with open data.

    p
      a.btn.btn-primary.btn-large(href="https://github.com/mheadd/opendata.guide") Fork on GitHub &rarr;
  
  hr

  .row-fluid
    .span4
      h3 Identify
      p Select high value & high impact data sets that are most often looked for by data users.
      p: a.btn.btn-small(href="chapter2.html") Read more &rarr;
    .span4
      h3 Review
      p Establish a process to review your data before it is released to the public.
      p: a.btn.btn-small(href="chapter4.html") Read more &rarr;
    .span4
      h3 Engage
      p Communicate with users of your data and encourage the creation of useful things. 
      p: a.btn.btn-small(href="chapter8.html") Read more &rarr;